body{font-family: 'Poppins', sans-serif;
     margin: 0%;
    size: 100%;
    height:2000px; }

h1{font-size: 50px;}

h2{ font-size: 30px;}


.p1{color: rgb(52, 174, 174);}



.flexible-container{display: flex; }

.head{ width: 50%; padding: 6%;}

.link-button{text-decoration: none; 
    background-color: aqua ; 
    /*background-image: -moz-linear-gradient(orange,tomato);  [NOT WORKING] */

    

    color: black;
    font-weight: bold;
    border-radius: 10px ;
    padding:3px 20px ;}


.top-banner{background-image:url(images/Wallpaper\ \(16\).jpg) ; 
background-repeat: no-repeat;
background-size: 100%; }    

 .banner2{ background-image:url(images/Wallpaper\ \(16\).jpg) ; 
    background-repeat: no-repeat;
    background-size: 100%; }



.a1{margin:0% ;
    padding-left: 6%;
    padding-bottom: 0%;}



    .b2{ width: 40%; 
        margin-left: 5% ;margin-right: 5%;
        padding-left: 20px;
        box-shadow: 10px 10px 30px gray;
        border-radius: 5px;
        border-left-style: solid;
        border-color: aqua; }

.banner3{
     background-image: url(images/Wallpaper\ \(16\).jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    }  /*banner3 kaj kortese na */



  





